main{
    display: grid;
    place-items: center;

    padding: 5rem 10rem;
}

form{
    display: grid;
    place-items: center;
    grid-row-gap: 2rem;

    width: 40rem;
    padding: 3rem;
    border: 3px solid blueviolet;
    border-radius: 5px;
}

form mat-form-field{
    width: 90%;
}

form button{
    margin-top: 3rem;
}